

#card-section {
    display: flex;
    justify-content: center;
}

.card {margin: 10px;}

.manager-card {background-color: rgb(196, 90, 90);}

.salesperson-card {background-color: rgb(167, 167, 255);}

.intern-card {background-color: rgb(91, 184, 164);}
